.h2 {
    width: 150px;
    padding: 5px;
    padding-left: 500px;
}


.h3 {
    width: 150px;
    padding: 5px;
    padding-left: 550px;
}

table {
    border-collapse: separate;
    border-spacing: 0px 20px;

}

th,td  {
    width: 400px;
    text-align: center;
    border-spacing: 200px;
    padding-left: 5px;
    border: 1px solid blue;
    

    
    
}
